<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/MainDB" />
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" destroy-method="destroy">
	
	<property name="hibernateProperties">
        <props>
        	<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
			<prop key="hibernate.currect_session_context_class">thread</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
            <prop key="hibernate.show_sql">true</prop>
            <prop key="hibernate.format_sql">true</prop>
        </props>
    </property>
    <property name="dataSource">
		<ref bean="dataSource" />
	</property>
	<property name="mappingResources">
		<list>
			<value>com/cecj03/papago/model/entity/FavoritesList.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/MemStatusType.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/MemType.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/PapaMem.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/PapaMsg.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/PapaRec.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/PapaScore.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/PapaShop.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/PriceType.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/ReportMsg.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/ShopStatusType.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/ShopType.hbm.xml</value>
			<value>com/cecj03/papago/model/entity/UpdateShop.hbm.xml</value>
		</list>
	</property>
	</bean>
	<bean id="PriceTypeDao" class="com.cecj03.papago.model.dao.impl.PriceTypeDaoSpring">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="PriceTypeService" class="com.cecj03.papago.model.crud.services.PriceTypeService">
		<property name="dao">
			<ref bean="PriceTypeDao" />
		</property>
	</bean>
	
<!-- 	<bean id="PriceTypeServlet" class="tw.com.digigp01.controller.PriceTypeServlet" scope="prototype"> -->
<!-- 		<property name="service"> -->
<!-- 			<ref bean="PriceTypeService" /> -->
<!-- 		</property> -->
<!-- 	</bean> -->
</beans>
